.all-posts {
    // text-align: center;
}

.single-post {
    background-color: antiquewhite;
    border-radius: 20px;
    width: 95%;
    margin: 10px auto;
    padding: 5px 0px 5px 15px;
}

.post-author {
    font-weight: bold;
    text-decoration: underline;
}